actors_server/project/boot/
actors_server/project/build/target/
actors_server/logs/
actors_server/lib
actors_server/lib_managed/

target/
actors_server/project/plugins/project/
actors_server/project/plugins/src_managed/
lib_managed/

.idea/
*.iml

*.db
.gitignore~

