.bar
{
    display: inline-block;
    min-width: 200px;
    vertical-align: top;
}

.header{
    border-bottom: 1px solid #dedede;
    height: 8ex;
}

.oppgavecontainer
{
    
}

.oppgaver
{
    vertical-align: top;
}

.oppgaver > .oppgave
{
    border: 1px solid #bebebe;
    background: none;

}

label, .description, .example
{
    display: inline-block;
}

.team.bar .oppgave,.team.bar .oppgave.failed,
{
    background-color:red;
}

.oppgave.solved
{
    background-color: green;
}

.clearer
{
    clear:both;
}

.oppgave
{
    height: 70px;
    background: red;
    padding: 5px;
    border: 1px solid white;
}